streamlit
pandas
pytesseract
gTTS
PyMuPDF
pdf2image
fuzzywuzzy
python-Levenshtein
googletrans==4.0.0-rc1
Pillow
yagmail
streamlit-webrtc
SpeechRecognition
av
numpy
fpdf
pyttsx3
passlib

